In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('../data_versions/clusters.csv')
df.head()

   Unnamed: 0                          Description  Cluster
0           0   WHITE HANGING HEART T-LIGHT HOLDER       11
1           1                  WHITE METAL LANTERN       12
2           2       CREAM CUPID HEARTS COAT HANGER       13
3           3  KNITTED UNION FLAG HOT WATER BOTTLE        1
4           4       RED WOOLLY HOTTIE WHITE HEART.        3