In [1]:
import pandas as pd
import numpy as np
from sentence_transformers import SentenceTransformer

/home/sea2002/miniconda3/envs/tfgpu2/lib/python3.12/site-packages/torch/utils/_pytree.py:185: FutureWarning: optree is installed but the version is too old to support PyTorch Dynamo in C++ pytree. C++ pytree support is disabled. Please consider upgrading optree using `python3 -m pip install --upgrade 'optree>=0.13.0'`.
  warnings.warn(
/home/sea2002/miniconda3/envs/tfgpu2/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
2025-03-24 17:08:51.815105: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:467] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1742850531.831986   18844 cuda_dnn.cc:8579] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1742850531.837608   18844 cuda_blas.cc:1407] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
W0000 00:00:1742850531.850390   18844 computation_placer.cc:177] computation placer already registered. Please check linkage and avoid linking the same target more than once.
W0000 00:00:1742850531.850411   18844 computation_placer.cc:177] computation placer already registered. Please check linkage and avoid linking the same target more than once.
W0000 00:00:1742850531.850413   18844 computation_placer.cc:177] computation placer already registered. Please check linkage and avoid linking the same target more than once.
W0000 00:00:1742850531.850414   18844 computation_placer.cc:177] computation placer already registered. Please check linkage and avoid linking the same target more than once.
2025-03-24 17:08:51.854040: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
df = pd.read_csv('../data_versions/cleaned_1.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 530632 entries, 0 to 530631
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    530632 non-null  int64
 1   StockCode    530632 non-null  object
 2   Description  530632 non-null  object
 3   Quantity     530632 non-null  int64
 4   InvoiceDate  530632 non-null  object
 5   UnitPrice    530632 non-null  float64
 6   CustomerID   397527 non-null  float64
 7   Country      530632 non-null  object
dtypes: float64(2), int64(2), object(4)
memory usage: 32.4+ MB

In [3]:
df.Description = df.Description.astype('str')

In [4]:
descriptions = pd.unique(df.Description)
descriptions[:5]

array(['WHITE HANGING HEART T-LIGHT HOLDER', 'WHITE METAL LANTERN',
       'CREAM CUPID HEARTS COAT HANGER',
       'KNITTED UNION FLAG HOT WATER BOTTLE',
       'RED WOOLLY HOTTIE WHITE HEART.'], dtype=object)

In [5]:
# Load the pre-trained model "all-mpnet-base-v2"
model = SentenceTransformer("all-mpnet-base-v2")

# Generate embeddings for the product descriptions
embeddings = model.encode(descriptions)

print("Embeddings shape:", embeddings.shape)

Embeddings shape: (4014, 768)

In [6]:
embeddings_flattened = []
for e in embeddings:
    add = e.reshape(-1)
    embeddings_flattened.append(add)

In [7]:
embed_desc_key = pd.DataFrame(
    {
        "Description": descriptions,
        "Embedding": embeddings_flattened
    }
)

embed_desc_key.head()

,Description,Embedding
0,WHITE HANGING HEART T-LIGHT HOLDER,"[0.07632847, -0.09431947, -0.014446766, 0.0328..."
1,WHITE METAL LANTERN,"[0.05321894, -0.036760114, 0.019860018, -0.031..."
2,CREAM CUPID HEARTS COAT HANGER,"[0.03787037, -0.05537594, -0.0069065997, 0.054..."
3,KNITTED UNION FLAG HOT WATER BOTTLE,"[-0.016273633, -0.0075765, -0.0060791695, 0.01..."
4,RED WOOLLY HOTTIE WHITE HEART.,"[-0.009205462, -0.007075419, 0.011407856, 0.01..."

In [8]:
embed_desc_key.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4014 entries, 0 to 4013
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Description  4014 non-null   object
 1   Embedding    4014 non-null   object
dtypes: object(2)
memory usage: 62.8+ KB

In [15]:
embed_desc_key.to_csv("../data_versions/embeddings.csv", index=False)